/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    border-bottom: 20px solid rgba(216, 90, 26, 1);
}

.footer-container, .main aside {
    border-top: 20px solid rgba(216, 90, 26, 1);
}

.header-container, .footer-container, .main aside {
    background: rgba(25, 29, 27, 1);
}

.title {
    color: white;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

nav a:hover {
    color: rgba(216, 90, 26, 1);
    text-decoration: none;
}

.add-deal-button {

}

.add-deal-triangle {
    position: absolute;
    top: -22.5px;
    right: 150px;
    width: 0;
    height: 0;
    border: 1px solid rgba(175, 175, 175, 1);
    border-left: 22.5px solid transparent;
    border-right: 22.5px solid transparent;
    border-bottom: 22.5px solid rgba(245, 245, 245, 1);
}

.add-deal-modal {
    position: absolute;
    /* top: 65px; */
    right: -600px;
    width: 600px;
    height: 100%;
    z-index: 1;
    border-left: 1px solid rgba(0, 0, 0, 1);
    /* border-radius: 12.5px; */
    background-color: rgba(22, 22, 22, 1);
    -webkit-box-shadow: 0px 13px 40px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 40px -25px rgba(0,0,0,0.75);
    box-shadow: 0px 25px 50px -20px rgba(0,0,0,0.75);
}

.add-deal-modal>.wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

.form-header, .form-body, .form-footer {
    position: relative;
    width: 100%;
    color: rgba(220, 220, 220, 1);
    padding: 0 2em;
}

.form-header {
    height: 6.12%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.form-body, .form-footer {
    background-color: rgba(30, 30, 30, 1);
    padding: 2em 0 0 0;
}

.form-body {
    height: 31%;
}

.form-footer {
    height: 5%;
}

.commit-deal-button {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgba(216, 110, 57, 1);
}

.commit-deal-button>h3 {
    top: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 100;
    transform: translateY(-50%);
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.form-field {
    position: relative;
    height: 75px;
    width: 80%;
    margin: 0 auto;
}

input, textarea {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    width: 100%;
    margin: 0 auto;
    background:#000;
    background:rgba(0,0,0,0.16);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
    border: 0 none;
    border-radius: 3px;
    color: #BBBBBB;
    transition:background .2s;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
    width: 100%;
    z-index: 2;
}

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

section {
    position: relative;
    padding: 1em 2em 4em 2em;
    height: 20%;
    width: 625px;
    -webkit-box-shadow: 0px 13px 40px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 40px -25px rgba(0,0,0,0.75);
    box-shadow: 0px 13px 40px -25px rgba(0,0,0,0.75);
}

dl {
    width: 350px;
}

dt {
    font-weight: 700;
    text-transform: uppercase;
}

dd {
    display: block;
    margin-bottom: 1em;
    -webkit-margin-start: 0px;
}

iframe {
    position: absolute;
    display: block;
    top: 50px;
    right: 2em;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        float: right;
    }

    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }

    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    .header-container, .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    .title {
        float: left;
    }
    nav {
        float: right;
        width: 38%;
    }

    .main article {
        float: left;
        width: 70%;
    }
    .main aside {
        float: right;
        width: 16%;
    }
}

@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
