<div class="add-deal-modal">
    <div class="wrapper">
        <div class="form-header">
            <h2>Add a new deal</h2>
            <p>Fill in the form below to add new deal for Oregon State University.</p>
        </div>
        <div class="form-body">
            <div class="form-field required">
                <input type="text" class="form-input" id="event-name" tabindex="1" required>
                <label for="event-name">Event Name</label>
            </div>
            <div class="form-field required">
                <input type="text" class="form-input" id="location" tabindex="2" required>
                <label for="location">Location</label>
            </div>
            <div class="form-field required">
                <div class="time-input" tabindex="3">
                    <input type="time" class="time" id="time-ending" name="end-time" required>
                    <label for="time-ending">Time Ending</label>
                </div>
            </div>
            <div class="form-field description-field">
                <input type="text" class="form-input" id="description" tabindex="4" required>
                <label for="description">Description</label>
            </div>
            <div class="form-field checkbox">
                <div class="clickable-checkbox"><p></p></div>
                <div class="visual-checkbox unchecked">
                    <input type="checkbox" id="free-checkbox" class="hidden">
                    <label for="free-checkbox">Free</label>
                </div>
                <div class="tool-tip">
                    <div class="triangle"> </div>
                    <div class="tool-tip-text"><p>Will there be free food at this event?</p></div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div class="commit-deal-button">
                <h3>Commit Deal</h3>
            </div>
        </div>
    </div>
</div>
