<section>
    <h2>{{event-name}}</h2>
    <dl>
        <dt>Location: </dt> <dd>{{location}}</dd>
        <dt>Description: </dt> <dd>{{description}}</dd>
        <dt>Time Remaining: </dt> <dd>{{end-time}}</dd>
    </dl>
    <!--- <iframe width="300" height="225" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Cobblestone%20Square%2C%201425%20NW%20Monroe%20Ave&key=AIzaSyAl-bZyy1EjjEMcZP91uE1YpVfGEsKWGGI" allowfullscreen></iframe> --->
</section>
