<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">Food Deal Squad</h1>
        <nav>
            <ul>
                <li><a id="add-deal-button">add deal</a></li>
            </ul>
        </nav>
    </header>
</div>
