<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body>

    {{{body}}}

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/geocode/json?address={{formatGeolocation geolocation}}&key=AIzaSyBn5bDUutXMYExZ2gaojof0zHXIc7_Iyh0"></script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn5bDUutXMYExZ2gaojof0zHXIc7_Iyh0&libraries=places"></script> -->
    <script src="js/a e s t h e t i c.js"></script>

</html>
