        {{> add-deal-modal}}

        <div class="overlay"></div>

        {{> header}}

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article class="events-holder">
                    {{#each eventObjects}}
                        {{> eventObject}}
                    {{/each}}
                </article>

            </div>
        </div>

        {{> footer}}
