/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');
@font-face {
    font-family: "EmojiSymbols";
    src: url("EmojiSymbols-Regular.woff") format('woff');
}

html {
    color: rgba(34, 34, 34, 1);
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    overflow-x: hidden;
}

::-moz-selection {
    background: rgba(216, 90, 26, 0.8);
    text-shadow: none;
}

::selection {
    background: rgba(216, 90, 26, 0.8);
    text-shadow: none;
}

h2 {
    font-size: 1.75em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(204, 204, 204, 1);
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: rgba(204, 204, 204, 1);
    color: rgba(0, 0, 0, 1);
    padding: 0.2em 0;
}

body {
    position: relative;
    right: 0px;
    transition: left 0.75s, right 0.75s;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    border-bottom: 20px solid rgba(216, 90, 26, 1);
}

.footer-container, .main aside {
    border-top: 20px solid rgba(216, 90, 26, 1);
}

.header-container, .footer-container, .main aside {
    background: rgba(25, 29, 27, 1);
}

.title {
    color: rgba(255, 255, 255, 1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

nav a:hover {
    color: rgba(216, 90, 26, 1);
    text-decoration: none;
}

#add-deal-button {
    cursor: pointer;
}

.add-deal-modal {
    display: none;
    visibility: hidden;
    position: absolute;
    right: -600px;
    width: 600px;
    height: 100%;
    z-index: 1;
    border-left: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(22, 22, 22, 1);
    -webkit-box-shadow: 0px 13px 40px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 40px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 25px 50px -20px rgba(0, 0, 0, 0.75);
    transition: left 0.5s, right 0.5s, visibility 0s ease 10s, display 0s ease 10s;
}

.add-deal-modal>.wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

.open {
    right: 600px;
    transition: left 0.75s, right 0.75s;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.55);
    transition: visibility 0.5s, opacity 0.5s;
    z-index: 2;
}

.form-header, .form-body, .form-footer {
    position: relative;
    width: 100%;
    color: rgba(220, 220, 220, 1);
    padding: 0 2em;
}

.form-header {
    height: 6.12%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.form-body, .form-footer {
    background-color: rgba(30, 30, 30, 1);
    padding: 2em 0 0 0;
}

.form-body {
    height: 31%;
}

.form-footer {
    height: 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.form-field {
    position: relative;
    height: 70px;
    width: 80%;
    margin: 0 auto;
}

label {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em;
    color: rgba(101, 101, 101, 1);
    font-size: 14px;
    font-weight: 100;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.form-input:focus~label, .form-input:valid~label, .time-input:focus label, .time:focus~label, .time:valid~label {
    top: 0px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: rgba(216, 110, 57, 1);
}

input {
    display: inline-block;
}

input[type=text], input[type=checkbox], .time-input {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    width: 97.2%;
    margin: 0 auto;
    cursor: text;
    background: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
    border: 0 none;
    border-radius: 3px;
    color: rgba(187, 187, 187, 1);
    transition: background .2s;
}

input[type=text], input[type=time] {
    outline: none;
    padding-left: 2.8%;
}

.time-input {
    width: 100%;
    outline: none;
    z-index: 10;
}

input[type=time] {
    display: none;
    width: 97.2%;
    height: 100%;
    letter-spacing: 0.125em;
    border: none;
    background-color: transparent;
    z-index: 12;
}

.time-input:focus input, .time:focus, .time:hover, .time:valid {
    display: block;
}

.time-input label {
    z-index: 11;
}

.time-input:focus label, .time:focus~label, .time:valid~label {
    top: -15px
}

input[type=time]::-webkit-inner-spin-button, input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=checkbox] {
    height: 100%;
    width: 100%;
    cursor: default;
    background: none;
    background: none;
    box-shadow: none;
}

.checkbox {
    position: relative;
    width: 80%;
    height: 40px;
    margin-top: 2em;
    cursor: default;
    border-radius: 5px;
}

.clickable-checkbox {
    position: absolute;
    left: 0;
    width: 20%;
    height: 40px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #000;
    background: rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.06);
}

.clickable-checkbox>p {
    display: block;
    position: relative;
    top: 35%;
    transform: translateY(-45%);
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    font-family: "sans-serif", "EmojiSymbols";
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.visual-checkbox {
    display: inline-block;
    position: absolute;
    height: 40px;
    right: 0;
    cursor: default;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: width 0.4s ease 0.2s, border-top-left-radius 0.25s ease 0.225s, background-color 0.3s ease 0.2s, border-bottom-left-radius 0.25s ease 0.225s;
}

.unchecked {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(216, 110, 57, 1);
}

.checked {
    width: 80%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(170, 86, 44, 1);
}

.visual-checkbox>label {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    cursor: default;
    text-align: center;
    color: rgba(235, 235, 235, 1);
}

.checkbox:hover .visual-checkbox {
    width: 80%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: width 0.4s ease 0.0s, border-top-left-radius 0.25s ease 0s, background-color 0.3s ease 0.0s, border-bottom-left-radius 0.25s ease 0s;
    background-color: rgba(170, 86, 44, 1);
}

.checkbox:hover .clickable-checkbox {
    display: inline-block;
}

.checkbox:hover .tool-tip, .checkbox:hover .triangle {
    display: block;
    opacity: 0.875;
    transition: opacity 0.5s ease 2s;
}

.tool-tip {
    position: absolute;
    right: 65px;
    top: 35px;
    width: 185px;
    height: 22.5px;
    opacity: 0;
    border-radius: 2.5px;
    background-color: rgba(245, 245, 245, 1);
    transition: opacity 0.25s ease 0s;
}

.tool-tip-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tool-tip-text>p {
    font-size: 10.5px;
    font-weight: 100;
    color: rgba(33, 33, 33, 1);
    text-align: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.triangle {
    position: absolute;
    top: -7px;
    right: 118px;
    width: 0;
    height: 0;
    opacity: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgba(245, 245, 245, 1);
    transition: opacity 0.25s ease 0s;
}

.commit-deal-button {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(216, 110, 57, 1);
}

.commit-deal-button>h3 {
    top: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 100;
    transform: translateY(-50%);
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.commit-deal-button:hover {
    background-color: rgba(170, 86, 44, 1);
}

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2.5em;
}

.main-container>.wrapper {
    padding-bottom: 60px;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

section {
    position: relative;
    padding: 1em 2em 4em 2em;
    height: 20%;
    width: 675px;
    -webkit-box-shadow: 0px 13px 40px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 40px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 13px 40px -25px rgba(0, 0, 0, 0.75);
}

dl {
    width: 350px;
    font-size: 1.15em;
}

dt {
    font-weight: 700;
    text-transform: uppercase;
}

dd {
    display: block;
    margin-bottom: 1em;
    -webkit-margin-start: 0px;
}

iframe {
    position: absolute;
    display: block;
    top: 50px;
    right: 2em;
}

.flair-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.flair-container>.wrapper {
    position: relative;
    width: 100%;
    margin: 0;
}

.like-button {
    position: relative;
    float: right;
    top: 7px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

svg {
    transform: scale(0.85);
}

path {
    fill: rgba(238, 238, 238, 1);
    stroke: rgba(153, 153, 153, 1);
    box-shadow: inset 0px 0px 15px rgba(33, 33, 33, 1);
}

.liked {
    animation: beating .5s 1 alternate;
    fill: none;
}

svg .liked {
    animation: none;
    fill: rgba(216, 110, 57, 1);
    stroke: none;
}

.flair {
    position: relative;
    margin: 10px 10px 10px 0;
    display: inline-block;
    padding: 0 20px 0 23px;
    color: rgba(153, 153, 153, 1);
    height: 20px;
    line-height: 20px;
    font-size: 0.8em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px 0 0 3px;
    background: rgba(238, 238, 238, 1);
    -webkit-transition: color 0.2s;
}

.flair::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    transform: rotate(90deg);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
}

.flair::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 1);
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(238, 238, 238, 1);
    border-top: 10px solid transparent;
}

.flair:hover {
    background-color: rgba(216, 110, 57, 1);
    color: rgba(255, 255, 255, 1);
}

.flair:hover::before {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.25);
}

.flair:hover::after {
    border-left: 10px solid rgba(216, 110, 57, 1);
}

.applied {
    background-color: rgba(216, 110, 57, 1);
    color: rgba(255, 255, 255, 1);
}

.applied::before {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.25);
}

.applied::after {
    border-left: 10px solid rgba(216, 110, 57, 1);
}

.footer-container footer {
    color: rgba(255, 255, 255, 1);
    padding: 20px 0;
}

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        float: right;
    }
    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }
    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {
    .header-container, .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }
    .title {
        float: left;
    }
    nav {
        float: right;
        width: 38%;
    }
    .main article {
        float: left;
        width: 70%;
    }
    .main aside {
        float: right;
        width: 16%;
    }
}

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

.hidden {
    display: none !important;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s, left 0.5s, right 0.5s;
}

.visible {
    display: block !important;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s, left 0.5s, right 0.5s;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Animations
   ========================================================================== */

@keyframes beating {
    0% {
        transform: scale(1)
    }
    40% {
        transform: scale(1.25)
    }
    70% {
        transform: scale(.9)
    }
    100% {
        transform: scale(1)
    }
}
